*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img.logo{
    width: 3rem;
    height: auto;
    padding: 0.5rem 0;
}

.header_title{
    font-size: 2rem;
}

.header_menu svg{
    width: 2rem;
    fill: #e0e0e0;
}

.nav{
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

.nav.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.nav_list{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav_list li{
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
    padding: 1em;
}

.nav_list li a{
    text-decoration: none;
}

section.box{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://cdn.stocksnap.io/img-thumbs/960w/landscape-mountain_B028VXG7BC.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: white;
    padding-top: 14rem;
}

section.box h1{
    font-size: 2rem;
    padding: 0.5rem;
}

section.box button{
    font-size: 0.8rem;
    background-color: mediumorchid;
    color: white;
    padding: 0.5rem;
}

.article h2{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2.5rem;
}

.article section.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.card{
    width: 8rem;
    margin: 1.5rem;
    text-align: center;
}

section.card img{
    width: 5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

footer p{
    margin-top: 1rem;
    font-size: 1.5rem;
}

section.social_net i.fa{
    font-size: 1.5rem;
    padding: 1rem;
}

footer small{
    font-size: 0.5rem;
    margin-bottom: 1rem;
}